@model db.Notification
@{
    Layout = null;
}
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <label class="modal-title text-text-bold-600" id="myModalLabel33">Удаление уведомления</label>
        </div>

        @using (Html.BeginForm("Delete", "Notification", FormMethod.Post, new { @class = "form" }))
        {
            <div class="modal-footer">
                <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Отмена</button>
                <button type="submit" class="btn btn-outline-primary">Удалить</button>
            </div>
        }
    </div>
</div>

