@model IEnumerable<db.UserModel>
@using Logics;
@{
    ViewBag.Title = "Клиенты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="table-responsive">
    <table class="table">
        <tr>
            <th style="text-align:center;">
               Компания
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center;">
                    <a href="@Url.Content("~/Home/ViewUser/"+item.AspNetUserId)" class="edt" data-toggle="modal" data-target="#inlineForm">  @Html.DisplayFor(modelItem => item.AspNetUserId)</a>
                </td>
            </tr>
        }

    </table>
    <div class="modal fade text-sm-center" id="inlineForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" style="display: none;" aria-hidden="true">

    </div>
</div>
