
@{
    ViewBag.Title = "Производство";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    
    
    .modulerow_pad {
        margin: 0 20px;
    }
    div.module-rounded {
        background-color: #1C941C !important;
        color: #FDFFBA;
    }

    div.module-rounded {
        background: url(http://kremko.by/templates/kremko/images/rounded_bl.png) no-repeat scroll 0 100%;
        height: 160px;
    }
    div.module-rounded div div div div {
        background: none;
    }

        div.module-rounded div div div {
            background: url(kremko.by/templates/kremko/images/rounded_tl.png) no-repeat scroll 0 0;
            padding: 4px;
        }

        div.module-rounded div div {
            background: url(kremko.by/templates/kremko/images/rounded_tr.png) no-repeat scroll 100% 0;
        }

        div.module-rounded div {
            background: url(kremko.by/templates/kremko/images/rounded_br.png) no-repeat scroll 100% 100%;
        }
    .clr {
        clear: both;
    }
</style>
<div class="col-xl-12 col-lg-12">
    <div class="card">
        
    </div>
    <div class="card-body">
        <div class="upper">
            <div class="col-md-3">
                <div class="modulerow_pad">
                    <div class="module-rounded">
                        <div>
                            <div>
                                <div>


                                    <div class="custom-rounded">
                                        <p style="text-align: center;"><a href="http://kremko.by/prodaem/ovoschi-kolhoza-kremko.html" target="_blank" title="Овощная продукция колхоза им.В.И.Кремко"><img src="http://kremko.by/images/ovoschi-spk-kremko.png" alt=""></a></p>
                                        <p style="text-align: center;"><span style="font-size: 14pt; color: #fdffba;"><strong><a href="http://kremko.by/prodaem/ovoschi-kolhoza-kremko.html" target="_blank" title="Овощная продукция колхоза им.В.И.Кремко"><span style="color: #fdffba;">Овощи</span></a></strong></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="modulerow_pad">
                    <div class="module-rounded">
                        <div>
                            <div>
                                <div>


                                    <div class="custom-rounded">
                                        <p style="text-align: center;"><a href="http://kremko.by/prodaem/frukty-kolhoza-kremko.html" target="_blank" title="Фрукты колхоза им. В.И.Кремко"><img src="http://kremko.by/images/frukty-spk-kremko.png" alt=""></a></p>
                                        <p style="text-align: center;"><strong><span style="font-size: 14pt; color: #fdffba;"><a href="http://kremko.by/prodaem/frukty-kolhoza-kremko.html" target="_blank" title="Фрукты колхоза им. В.И.Кремко"><span style="color: #fdffba;">Фрукты</span></a></span></strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="modulerow_pad">
                    <div class="module-rounded">
                        <div>
                            <div>
                                <div>


                                    <div class="custom-featured">
                                        <p style="text-align: center;"><span style="font-size: 12pt; color: #ff9900;"><strong><a href="http://kremko.by/prodaem/miasnaja-produkcija-kolhoza-kremko.html" target="_blank" title="Мясная продукция колхоза им. В.И.Кремко"><span style="color: #fdffba;"><img src="http://kremko.by/images/miaso-spk-kremko.png" border="0" alt=""></span> </a> </strong> </span></p>
                                        <p style="text-align: center;"><span style="font-size: 13pt; color: #fdffba;"><strong><a href="http://kremko.by/prodaem/miasnaja-produkcija-kolhoza-kremko.html" target="_blank" title="Мясная продукция колхоза им. В.И.Кремко"><span style="color: #fdffba;">Мясная продукция</span> </a> </strong> </span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="modulerow_pad">
                    <div class="module-rounded">
                        <div>
                            <div>
                                <div>


                                    <div class="custom-rounded">
                                        <p style="text-align: center;"><span style="font-size: 12pt; color: #ff9900;"><strong><a href="http://kremko.by/prodaem/soki-kolhoza-kremko.html" target="_blank" title="Саженцы из колхоза им. В.И. Кремко"><span style="color: #fdffba;"><img src="http://kremko.by/images/sazhency-spk-kremko.png" alt=""></span> </a> </strong> </span></p>
                                        <p style="text-align: center;"><span style="font-size: 13pt; color: #fdffba;"><strong><a href="http://kremko.by/prodaem/soki-kolhoza-kremko.html" target="_blank" title="Саженцы из колхоза им. В.И. Кремко"><span style="color: #fdffba;">Соки прямого отжима</span></a></strong> </span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="clr"></div>
        </div>
    </div>
</div>

